html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


:root
{
  --fundoPrincipal: #F7F7FC;
  --fundoItens: #FFFFFF;
  --DestaqueBotoes: #00D649;
  --hoverBotaoCor: #0AC94A;
  --BotaoNavBarFocado: #D8DAE1;
  --fundoNavBar: #FFFFFF;
  --corFont: #05192D ;
  --corFontCinza: #65707C;
  --pesoFontDestaque: 800;
  --pesoFontNormal: 400;
  --fontSizePequeno: 14px;
  --fontSizeGrande: 18px;

  --paddingPadrao: 1rem;
  --corBordaDestaque: #AFB8C3;

  --bordaPadrao: 1px solid red;
}

body
{
  background-color: var(--fundoPrincipal);
}

.main
{
  
  font-family: sans-serif;
  color: var(--corFont);

  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* Inicio Bloco1 */

.bloco1
{

  background-color: var(--fundoItens);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bloco1-Paragrafo
{
  font-size: var(--fontSizePequeno);
  font-weight: var(--pesoFontNormal)
}

.bloco1-DivTitulo
{
  display: flex;
  justify-content: space-between;
}

.bloco1-Titulo
{
  font-size: 18px;
  font-weight: var(--pesoFontDestaque)
}

.bloco1-Botao
{
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--DestaqueBotoes);
  font-weight: var(--pesoFontNormal);
  font-size: var(--fontSizePequeno);

  transition: .1s;
}

.bloco1-Botao:hover
{
  background-color: var(--hoverBotaoCor);
}

.bloco1-divDestaques
{
  display: flex;
  justify-content: space-evenly;
}

.bloco1-BoxDestaque
{

  width: 100%;

  padding: var(--paddingPadrao);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: .5rem;

  border-top: 1px solid var(--corFontCinza);

  transition: .1s;
}

.bloco1-BoxDestaque:hover
{
  background-color: var(--corBordaDestaque);
}

.span-Destaque
{
  color: var(--corFontCinza);
  font-size: 12px;
  border: 1px solid var(--corBordaDestaque);
  padding: .2rem;
  border-radius: 5px;
  width: max-content;
  background-color: var(--fundoItens);
}

.paragrafo-Destaque
{
  font-size: 14px;
  font-weight: var(--pesoFontDestaque);
}

.bloco1-BoxDestaque ~ *:nth-of-type(2) {
  /* Estilos para o segundo filho aqui */
  border-inline: 1px solid var(--corBordaDestaque);
}

/* Final do Bloco1 */

/* configurações de layout */
.bloco1-perfil
{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.bloco1
{
  flex: 2;
}

.perfil
{
  flex: 1;
}

/* configurações de layout */


.perfil
{
  display: flex;
  flex-direction: column;
  padding: var(--paddingPadrao);
  background-color: var(--fundoItens);
  gap: .5rem;
}

.perfil-divTitulo
{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.perfil-titulo
{
  font-size: 20px;
  font-weight: var(--pesoFontDestaque);
}

.span-metrica
{
  font-size: 14px;
  font-weight: 400;
  color: var(--corFontCinza);
}

.paragrafo-metrica
{
  font-size: 20px;
  font-weight: var(--pesoFontDestaque);
}

.perfil-divMetricas
{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: var(--paddingPadrao);

  border-block: 1px solid var(--corBordaDestaque);
}

.perfil-boxMetrica
{
  display: flex;
  flex-direction: column;
  gap: .5rem;

  width: 100%;
}

 .perfil-boxMetrica~ *:nth-of-type(2)
{

  border-left: 1px solid var(--corBordaDestaque);
} 

.perfil-divQuantidades
{
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* padding: var(--paddingPadrao); */
}

.perfil-boxQuantidades
{
  display: flex;
  flex-direction: column;
  gap: .1rem;
  width: 100%;
}

.perfil-boxQuantidades~ *:nth-of-type(2)
{

  border-inline: 1px solid var(--corBordaDestaque);
} 

/* bloco2 */

.bloco2{
  display: flex;
  gap: 1rem;
}

.criarQuestao
{
  flex: 2;

  
  padding: var(--paddingPadrao);
  background-color: var(--fundoItens);
}

.requisitosQuestao
{
  flex:1;
  padding: var(--paddingPadrao);
  background-color: var(--fundoItens);
  height: max-content;
}

.requisitosQuestao-divTitulo
{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.requisitosQuestao-titulo
{
  font-size: 16px;
  font-weight: var(--pesoFontDestaque);
  color: var(--corFont);
}

.requisitosQuestao-paragrafo
{
  font-size: 16px;
  font-weight: var(--pesoFontNormal);
}

.requisitosQuestao-ul
{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.requisitosQuestao-li
{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.criarQuestao-Justificativa
{
 padding: .5rem;
}

.criarQuestao-Titulo
{
  font-size: 15px;
  font-weight: var(--pesoFontDestaque);
  color: var(--corFont);
}

.criarQuestaoDiv
{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.criarQuestao-Alternativas 
{
  padding: 1rem;
}

.titulo
{
  font-size: 20px;
  font-weight: var(--pesoFontDestaque);
  color: var(--corFont);
}

.CriarQuestao-botaoSalvar
{
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.botaoSalvar
{
  width: 25rem;
}


.span-justificativa
{
  background-color: var(--hoverBotaoCor);
  color: var(--corFont);
  border: none;
}

/* fim bloco2 */

/* bloco3 */

.bloco3
{
  display: flex;
  gap: 1rem;
}

.divQuestoes
{
  flex: 2;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  padding: var(--paddingPadrao);

  background-color: var(--fundoItens);
}

.infoQuestoes
{
  flex: 1;
  padding: var(--paddingPadrao);
}

.boxQuestao
{
  height: 10rem;
  width: 10rem;
  padding: var(--paddingPadrao);

  background-color: var(--fundoPrincipal);

  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: space-between;

  border-radius: 10px;

  transition: .1s;

  cursor: pointer;
}

.boxQuestao:hover
{
  background-color: var(--corBordaDestaque);
}

.tag
{
  font-size: var(--fontSizePequeno);
}

.listaQuestoes
{
 
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.blocoResponderQuestao
{
  display: flex;
  gap: 1rem;
}

.divResponderQuestao
{
  flex: 2;
  padding: var(--paddingPadrao);

  background-color: var(--fundoItens);
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
}

.enunciado
{
  font-size: 16px;
  font-weight: var(--pesoFontNormal);
  color: var(--corFont);
}

.boxResponderQuestaoAlternativas
{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  

}

.boxAlternativa
{
  padding: .5rem;
  border-radius: 10px;
  background-color: var(--fundoPrincipal);
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
}

.boxAlternativa:hover
{
  background-color: var(--corBordaDestaque);
}

.bloco4
{
  display: flex;
  gap: 1rem;
}

.labelInput
{
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.respostaCorreta
{
  background-color: #00D649;
}

.respostaErrada
{
  background-color: #FF0000;
}

.boxAlternativaJustificativa
{
  padding: .5rem;
  background-color: var(--fundoPrincipal);
}

.botaoJustificativa
{
  background-color: var(--hoverBotaoCor);
  color: var(--corFont);
  border: none;
  width: fit-content;
  height: fit-content;
  padding: .5rem;
  border-radius: 10px;
}

.listaTags
{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  flex-wrap: wrap;
}

.filtroEnunciado
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  flex-wrap: wrap;
}

.tagFiltro
{
  cursor: pointer;
}

