<div class="container-fluid main">

    <div class="bloco1-perfil">

        <div class="bloco1 container">
            <div class="bloco1-DivParagrafo">
                <p class='bloco1-Paragrafo paragrafo'>Um lugar para auxiliar seus estudos</p>
            </div>
            <div class="bloco1-DivTitulo">
                <h2 class="bloco1-Titulo titulo">Bem vindo a Plataforma</h2>
                <button class="bloco1-Botao botao">Continue Focado</button>
            </div>

            <div class="bloco1-divDestaques">
                <div class="bloco1-BoxDestaque" onclick="executeCallbackAfterClearingElement(verificarBloco2Existe)">
                    <span class="span-Destaque">Create</span>
                    <p class="paragrafo-Destaque">Criar Questão</p>
                </div>
                <div class="bloco1-BoxDestaque" onclick="executeCallbackAfterClearingElement(listarTodasPerguntas);">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Listar Todas as Questões</p>
                </div>
                <div class="bloco1-BoxDestaque" onclick="executeCallbackAfterClearingElement(areaJSON);">
                    <span class="span-Destaque">JSON</span>
                    <p class="paragrafo-Destaque">Gerar Questão com JSON</p>
                </div>

            </div>
        </div>

        <div class="perfil container">
            <div class="perfil-divTitulo">
                <p class="perfil-titulo">Usuário</p>
                <span class="perfil-span span-metrica">30% da meta diária batida</span>
            </div>
            <div class="perfil-divMetricas">
                <div class="perfil-boxMetrica">
                    <span class="span-metrica">Exercícios Diários</span>
                    <p class="paragrafo-metrica">100</p>
                </div>



            </div>

            <div class="perfil-divQuantidades">
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica " id="totalExercicios">5</p>
                    <span class="perfil-quantidadeSpan span-metrica ">Questões</span>
                </div>
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica">Anotações</span>
                </div>

            </div>
        </div>
    </div>

    <div id="quadroPrincipal">

       
        </div>




    </div>


</div>

<script>




</script>