<div class="container-fluid main">

    <div class="bloco1-perfil">

        <div class="bloco1 container">
            <div class="bloco1-DivParagrafo">
                <p class='bloco1-Paragrafo paragrafo'>Um lugar para auxiliar seus estudos</p>
            </div>
            <div class="bloco1-DivTitulo">
                <h2 class="bloco1-Titulo titulo">Bem vindo a Plataforma</h2>
                <button class="bloco1-Botao botao">Continue Focado</button>
            </div>

            <div class="bloco1-divDestaques">
                <div class="bloco1-BoxDestaque">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Listas para Responder</p>
                </div>
                <div class="bloco1-BoxDestaque">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Anotações para Estudar</p>
                </div>
                <div class="bloco1-BoxDestaque">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Questões para Responder</p>
                </div>

            </div>
        </div>

        <div class="perfil container">
            <div class="perfil-divTitulo">
                <p class="perfil-titulo">Hey</p>
                <span class="perfil-span span-metrica">30% complete</span>
            </div>
            <div class="perfil-divMetricas">
                <div class="perfil-boxMetrica">
                    <span class="span-metrica">Exercícios Diários</span>
                    <p class="paragrafo-metrica">100</p>
                </div>


                <div class="perfil-boxMetrica">
                    <span class="span-metrica">Exercícios Diários</span>
                    <p class="paragrafo-metrica">100</p>
                </div>
            </div>

            <div class="perfil-divQuantidades">
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica ">Listas</span>
                </div>
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica">Listas</span>
                </div>
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica">Listas</span>
                </div>
            </div>
        </div>
    </div>

</div>