<div class="container-fluid main">

    <div class="bloco1-perfil">

        <div class="bloco1 container">
            <div class="bloco1-DivParagrafo">
                <p class='bloco1-Paragrafo paragrafo'>Um lugar para auxiliar seus estudos</p>
            </div>
            <div class="bloco1-DivTitulo">
                <h2 class="bloco1-Titulo titulo">Bem vindo a Plataforma</h2>
                <button class="bloco1-Botao botao">Continue Focado</button>
            </div>

            <div class="bloco1-divDestaques">
                <div class="bloco1-BoxDestaque">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Listas para Responder</p>
                </div>
                <div class="bloco1-BoxDestaque">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Anotações para Estudar</p>
                </div>
                <div class="bloco1-BoxDestaque">
                    <span class="span-Destaque">Review</span>
                    <p class="paragrafo-Destaque">Questões para Responder</p>
                </div>

            </div>
        </div>

        <div class="perfil container">
            <div class="perfil-divTitulo">
                <p class="perfil-titulo">Usuário</p>
                <span class="perfil-span span-metrica">30% da meta diária batida</span>
            </div>
            <div class="perfil-divMetricas">
                <div class="perfil-boxMetrica">
                    <span class="span-metrica">Exercícios Diários</span>
                    <p class="paragrafo-metrica">100</p>
                </div>


                <div class="perfil-boxMetrica">
                    <span class="span-metrica">Total de Exercícios</span>
                    <p class="paragrafo-metrica">100</p>
                </div>
            </div>

            <div class="perfil-divQuantidades">
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica ">Questões</span>
                </div>
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica">Anotações</span>
                </div>
                <div class="perfil-boxQuantidades">
                    <p class="perfil-quantidade paragrafo-metrica">5</p>
                    <span class="perfil-quantidadeSpan span-metrica">Listas</span>
                </div>
            </div>
        </div>
    </div>


    <div class="bloco2">
        <div class="criarQuestao">

            <form class="criarQuestao" id="formCriarQuestao">


                <div class="criarQuestaoDiv">

                    <div class="criarQuestaoDiv">
                        <h2 class="criarQuestao-Titulo titulo">Criar Questão </h2>
                        <h3 class="criarQuestao-Titulo">Enunciado</h3>
                        <div class="input-group">
                            <textarea class="form-control" aria-label="With textarea" id="enunciado"></textarea>
                        </div>
                    </div>


                    <div class="criarQuestaoDiv">
                        <h3 class="criarQuestao-Titulo">Justificativa</h3>
                        <div class="input-group">

                            <textarea class="form-control" aria-label="With textarea" id="justificativa"></textarea>
                        </div>

                    </div>
                </div>


                <div class="criarQuestao-Alternativas criarQuestaoDiv">
                    <div class="criarQuestao-AlternativasTitulo">
                        <h3 class="criarQuestao-Titulo">Alternativas</h3>
                        <button onclick="revelarJustificativas()">Adicionar Justificativas</button>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text">Alternativa</span>
                        <textarea class="form-control" aria-label="With textarea" id="alternativa1"></textarea>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputRadio1">
                            <label class="form-check-label" for="inputRadio1">
                                Default radio
                            </label>
                        </div>
                    </div>
                    <div class="input-group criarQuestao-Justificativa d-none">
                        <span class="input-group-text span-justificativa">Justificativa</span>
                        <textarea class="form-control" aria-label="With textarea"
                            id="justificativaAlternativa1"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Alternativa</span>
                        <textarea class="form-control" aria-label="With textarea" id="alternativa2"></textarea>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputRadio2">
                            <label class="form-check-label" for="inputRadio2">
                                Default radio
                            </label>
                        </div>
                    </div>
                    <div class="input-group criarQuestao-Justificativa d-none">
                        <span class="input-group-text span-justificativa">Justificativa</span>
                        <textarea class="form-control" aria-label="With textarea"
                            id="justificativaAlternativa2"></textarea>

                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Alternativa</span>
                        <textarea class="form-control" aria-label="With textarea" id="alternativa3"></textarea>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputRadio3">
                            <label class="form-check-label" for="inputRadio3">
                                Default radio
                            </label>
                        </div>
                    </div>
                    <div class="input-group criarQuestao-Justificativa d-none">
                        <span class="input-group-text span-justificativa">Justificativa</span>
                        <textarea class="form-control" aria-label="With textarea"
                            id="justificativaAlternativa3"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Alternativa</span>
                        <textarea class="form-control" aria-label="With textarea" id="alternativa4"></textarea>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputRadio4">
                            <label class="form-check-label" for="inputRadio4">
                                Default radio
                            </label>
                        </div>
                    </div>
                    <div class="input-group criarQuestao-Justificativa d-none">
                        <span class="input-group-text span-justificativa">Justificativa</span>
                        <textarea class="form-control" aria-label="With textarea"
                            id="justificativaAlternativa4"></textarea>
                    </div>
                </div>

                <div class="CriarQuestao-botaoSalvar">

                    <button type="submit" id="botaoSalvar" class="bloco1-Botao botaoSalvar"
                        onclick="criarQuestaoFetch()">Salvar</button>
                </div>

            </form>


        </div>
        <div class="requisitosQuestao">
            <div class="requisitosQuestao-divTitulo">
                <h3 class="requisitosQuestao-titulo">Requisitos para criar a Questão</h3>
                <p class="requisitosQuestao-paragrafo ">A Questão vai possuir:</p>
                <ul class="requisitosQuestao-ul">
                    <li class="requisitosQuestao-li">- 4 alternativas <span class="span-Destaque">obrigatório</span>
                    </li>
                    <li class="requisitosQuestao-li">- Explicação da resposta correta <span class="span-Destaque">
                            obrigatório</span></li>
                    <li class="requisitosQuestao-li">- Justificativa das Alternativas Erradas <span
                            class="span-Destaque"> não obrigatório</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>



    function getFormData() {
        // Seleciona o formulário
        var form = document.getElementById('formCriarQuestao');

        //remover o evento de recarregar a página
        form.addEventListener('submit', function (event) {
            event.preventDefault();
        });

        // selecionar os inputs
        var enunciado = document.getElementById('enunciado').value;
        var justificativa = document.getElementById('justificativa').value;

        // criar um objeto com os dados
        var formData = {
            enunciado: enunciado,
            justificativa: justificativa,
        };

        // Itera sobre os elementos do formulário
        for (var i = 1; i <= 4; i++) {
            formData['alternativa' + i] = document.getElementById('alternativa' + i).value;
            formData['justificativaAlternativa' + i] = document.getElementById('justificativaAlternativa' + i).value;
        }

        const guidId = "0e7745b3-fea7-40ed-8445-ad622e95904f";

        var questaoMontada = {
            RequisicaoId: guidId,
            Conteudo: enunciado,
            Valided: false,
            Respostas: [],
            Tags: [
                {
                    Texto: enunciado,
                    Perguntas: []
                }
            ],
            Explicacao: justificativa,
            Erro: ""
        }

       

        //adicionar as respostas usando o for
        for (var i = 1; i <= 4; i++) {
            questaoMontada.Respostas.push({
                Conteudo: formData['alternativa' + i],
                PerguntaId: guidId,
                Correta: false,
                Valided: false,
                Erro: formData['justificativaAlternativa' + i]
            });
        }

         //verificar qual inputRadio esta marcado, o ultimo caracter é o número da alternativa
        for (var i = 1; i <= 4; i++) {
            if (document.getElementById('inputRadio' + i).checked) {
                questaoMontada.Respostas[i - 1].Correta = true;
            }
        }


        return questaoMontada;
    }

    function revelarJustificativas() {
        //remover o evento de recarregar a página
        event.preventDefault();
        var justificativas = document.querySelectorAll('.criarQuestao-Justificativa');
        justificativas.forEach(function (justificativa) {
            justificativa.classList.toggle('d-none');
        });
    }



    function criarQuestaoFetch() {
        var formData = getFormData();

        console.log(formData);




        fetch('http://localhost:5084/api/plataforma/criarquestao', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>